.oh_o_meio {
    margin: 10px;
}

.editorMonaco {
    min-height: 600px;
    min-width: 240dvh;
}

.hidden {
    display: none;
}

.ali_esquerda {
    float: left;
}

.greyButton {
    background-color: #5a5a5a;
}
